.home-background {
  position: relative;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.home-page {
  display: flex;
  align-items: center;
  height: 60vh;
}

.left-content {
  padding-right: 50px;
}

.star {
  position: absolute;
}

.star0 {
  bottom: -2rem;
  left: 2rem;
}

.star1 {
  left: 3rem;
  top: 6rem;
  width: 30px;
  height: 30px;
}

.star2 {
  top: 2rem;
  left: 16rem;
  width: 20px;
  height: 20px;
}

.star3 {
  width: 60px;
  height: 60px;
  top: 7rem;
  right: 4rem;
}
