.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 490px;
  padding: 4rem;
  gap: 1rem;
}

.menu img {
  height: auto;
  width: 70px;
  margin-top: 1rem;
}
