nav {
  max-width: 1300px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 3rem 0;
}

nav ul {
  display: flex;
}

nav ul li {
  padding: 1rem 2rem;
}

nav li:hover {
  cursor: pointer;
}
